<nav class="grey darken-3">
  <div class="container">
    <div class="nav-wrapper">
      <a href="/" class="brand-logo center">StoryBooks</a>
      <a href="#" data-target="main-menu" class="sidenav-trigger show-on-larg">
        <i class="fa fa-bars"></i>
      </a>
      <!-- Right Nav -->
      <ul class="right hide-on-small-only">
        {{#if user}}
        <li>
          <a href="/dashboard">Welcome {{user.name}}</a>
        </li>
        <li>
          <a href="/auth/logout">
            <i class="fa fa-sign-out"></i>Logout</a>
        </li>

        {{else}}
        <a href="/stories">
          <i class="fa fa-book"></i> Public Stories</a>

        {{/if}}
      </ul>
      <!-- Side Menu -->
      <ul class="sidenav" id="main-menu">
        {{#if user}}         
        {{else}}
        <li>
          <a class="btn blue darken-1" href="/auth/facebook">
            <i class="fa fa-facebook left"></i> Login With FB</a>
        </li>
        {{/if}}
        <li><a href="/stories"><i class="fa fa-book"></i> Public Stories</a>
        </li>
        {{#if user}}
        <li class="divider"></li>
        <li><a href="/dashboard"><i class="fa fa-cog"></i> Dashboard</a>
        </li>
        <li><a href="/stories/my"><i class="fa fa-user"></i> My Stories</a>
        </li>
        <li><a href="/auth/logout"><i class="fa fa-sign-out"></i> Logout</a>
        </li>
        {{/if}}
      </ul>
    </div>
  </div>
</nav>