{{#if success_msg}}
  <div class="alert alert-success no-page-header text-center"style="margin-bottom:-70px">{{success_msg}}</div>
{{/if}}
{{#if error_msg}}
  <div class="alert alert-danger no-page-header text-center" style="margin-bottom:-70px">{{error_msg}}</div>
{{/if}}