{{> _headerDark}}
<div class="container-fluid py-10 bg-light" style="height:100vh">
  <div class="container">
    <div class="text-center">
      <h6 class="text animated hinge display-4-mod text-muted">Oops,
        <i class="em em-white_frowning_face"></i>
      </h6>
      <h5 class="display-4-mod"><span class="text-muted">This Page <span class="text-danger op-7 ">Could Not</span> Be Found!</span></h5>
    </div>
    <div class="text-center text-muted py-7">
      <h4 class="mb-5"><i class="em em-thinking_face icon-1x"></i> Maybe you were looking for:</h4>
      <a href="/" class="btn btn-primary w-15">Home Page</a>
      <a href="/candidate-resume" class="btn btn-primary w-15 ml-2">Resumes</a>
      <a href="/jobs" class="btn btn-primary w-15 ml-2">Jobs</a>
    </div>
  </div>
</div>