{{> _headerDark}}

<div class="container py-4 py-lg-7 bg-op-9 bg-light" style="min-height: 100vh">
  <div class="row justify-content-md-center no-page-header">
    <div class="col-md-8">
      <input type="text" id="filterInput" placeholder="Search company names...." class="form-control mb-2" style="border-radius: 0px; border-bottom: 1px solid #00adbba1; border-right: none;border-left: none; border-top: none ">
      <ul class="list-group" id="companies">
        {{#each company}}
        <li class="list-group-item card shadow-sm bg-white mb-1" id="company-lsits">
          <a href="">{{this.name}}</a>
          <img class="float-right" src="{{this.logo}}" alt="{{this.fullName}} image" style="width:80px; height: 80px;">
          <p class="text-muted text-sm">{{{stripTags (truncate description 100)}}}</p>
        </li>
        {{/each}}
      </ul>
    </div>
    <div class="col-md-4">

    </div>
  </div>
</div>
<script>
  let filterInput = document.getElementById('filterInput');
  filterInput.addEventListener('keyup', filterNames);

  function filterNames() {
    let filterValue =
      document.getElementById('filterInput').value.toUpperCase();

    let ul = document.getElementById('companies');
    let li = ul.querySelectorAll('li.list-group-item');

    for (let i = 0; i < li.length; i++) {
      let a = li[i].getElementsByTagName('a')[0];

      if (a.innerHTML.toUpperCase().indexOf(filterValue) > -1) {
        li[i].style.display = '';
      } else {
        li[i].style.display = 'none';

      }
    }
  }
</script>