<div class="container">
  <div class="m-3 text-center">
  <a href="/auth/facebook" type="button" class="mb-1 text-white btn bg-brand-facebook btn-lg">Login with Facebook</a>
  <a href="/auth/google" type="button" class="mb-1 text-white btn bg-brand-google-plus btn-lg">Login with Google</a>
  </div>

</div>