{{> _headerDark}}
<div class="container-fluid py-10 bg-light" style="min-height:100vh">
  <div class="container">
    <div class="row">
      <div class="col-sm-4">
        <ul class="nav nav-tabs nav-stacked nav-tabs-bold" id="message-list">
          {{#each messages}}
          <li class="nav-item">
            <a  href="/messages/{{this.id}}" class="nav-link bg-white read-message">
                {{this.title}} 
                <i class="fa fa-angle-right"></i>
            </a>
          </li>
          {{/each}}
        </ul>
      </div>
      <div class="col-sm-8">
        <div id="message-area">

        </div>
      </div>
    </div>
  </div>
</div>