{{> _header}}
<div class="container-fluid bg-grey-dark overlay overlay-op-7" id="homePage-job-search" data-bg-img="https://res.cloudinary.com/dgghoxlug/image/upload/v1536262929/irina-219832-unsplash_1.jpg"style="margin-top: -70px;">
  <div class="container">
    <div class="row no-page-header">
      <div class="col-md-12">
        <div id="home-page-search-heading">
          <h4 class="display-4-homPage text-light">Find your Dream Job</h4>
          <div class="py-5 d-none d-md-block"></div>
          <form action="/jobs" method="GET" class="row">
            <div class="col-md-4 col-12">
              <div class="form-group">
                <input type="email" class="form-control" placeholder="Job title ie. Sales Manager">
              </div>
            </div>
            <div class="col-md-1 col-12">
              <h4 class="text-white">OR</h4>
            </div>
            <div class="col-md-4 col-12">
              <div class="form-group">
                <input type="email" class="form-control" placeholder="Job location ie. Dubai">
              </div>
            </div>
            <div class="col-md-3 col-12">
              <div class="form-group">
                <input type="submit" value="Search" class="btn btn-primary btn-lg btn-rounded px-5">
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>