<div class="container mt-5">
  <div class="row">
    <div class="col-md-6">
      <form action="/candidate-resume" method="post" >
        <div class="form-group text-center">
          <select class="custom-select d-block w-100 border-op-1 border-light bg-light " name="specialisms" required>
            <option value="hospitality and restaurants" selected>Hospitality & Restaurants</option>
            <option value="travel and tourism">Travel & Tourism</option>
            <option value="sales">Sales</option>
            <option value="secretarial‬">Secretarial‬</option>
            <option value="customer service">Customer Service</option>
            <option value="accounting">Accounting</option>
            <option value="Airlines and Aviation">Airlines & Aviation</option>
            <option value="architecture interior design">Architecture & Interior Design</option>
            <option value="art entertainment">Art & Entertainment</option>
            <option value="banking finance">Banking & Finance</option>
            <option value="business development">Business Development</option>
            <option value="engineering">Engineering</option>
            <option value="hr recruitment">HR & Recruitment</option>
            <option value="legal services">Legal Services</option>
            <option value="logistics distribution">Logistics & Distribution</option>
            <option value="marketing advertising">Marketing & Advertising</option>
            <option value="Media">Media</option>
            <option value="public relations">Public Relations</option>
            <option value="medical healthcare">Medical & Healthcare</option>
            <option value="oil gas energy">Oil, Gas & Energy</option>
            <option value="real estate">Real Estate</option>
            <option value="safety and security‬">Safety & Security</option>
            <option value="transportation">Transportation</option>
          </select>
        </div>
        <div class="form-group ">
          <input type="hidden" name="style" type="text" class="form-control" value="default">
        </div>
        <div class="form-group ">
          <input type="hidden" name="fullName" type="text" class="form-control" value="{{user.name}}">
        </div>
        <div class="form-group ">
          <input type="hidden" name="email" type="text" class="form-control" value="{{user.email}}">
        </div>
        <div class="form-group ">
          <div>
            <a href="https://unsplash.it/1200/768.jpg?image=250" data-toggle="lightbox" data-title="A random title" data-footer="A custom footer text">
              <img src="https://unsplash.it/600.jpg?image=250" class="img-fluid">
            </a>
          </div>
        </div>
        <div class="form-group ">
          <div class="text-center">
            <input type="submit" value="Select" class="btn btn-primary">
          </div>
        </div>
      </form>
    </div>
    <div class="col-md-6">
      <form action="/candidate-resume" method="post">
        <div class="form-group text-center">
          <select class="custom-select d-block w-100 border-op-1 border-light bg-light " name="specialisms" required>
            <option value="hospitality and restaurants" selected>Hospitality & Restaurants</option>
            <option value="travel and tourism">Travel & Tourism</option>
            <option value="sales">Sales</option>
            <option value="secretarial‬">Secretarial‬</option>
            <option value="customer service">Customer Service</option>
            <option value="accounting">Accounting</option>
            <option value="Airlines and Aviation">Airlines & Aviation</option>
            <option value="architecture interior design">Architecture & Interior Design</option>
            <option value="art entertainment">Art & Entertainment</option>
            <option value="banking finance">Banking & Finance</option>
            <option value="business development">Business Development</option>
            <option value="engineering">Engineering</option>
            <option value="hr recruitment">HR & Recruitment</option>
            <option value="legal services">Legal Services</option>
            <option value="logistics distribution">Logistics & Distribution</option>
            <option value="marketing advertising">Marketing & Advertising</option>
            <option value="Media">Media</option>
            <option value="public relations">Public Relations</option>
            <option value="medical healthcare">Medical & Healthcare</option>
            <option value="oil gas energy">Oil, Gas & Energy</option>
            <option value="real estate">Real Estate</option>
            <option value="safety and security‬">Safety & Security</option>
            <option value="transportation">Transportation</option>
          </select>
        </div>
        <div class="form-group ">
          <input type="hidden" name="style" type="text" class="form-control" value="oneCol">
        </div>
        <div class="form-group ">
          <input type="hidden" name="fullName" type="text" class="form-control" value="{{user.name}}">
        </div>
        <div class="form-group ">
          <input type="hidden" name="email" type="text" class="form-control" value="{{user.email}}">
        </div>
        <div class="form-group ">
          <div>
            <a href="https://unsplash.it/1200/768.jpg?image=250" data-toggle="lightbox" data-title="A random title" data-footer="A custom footer text">
              <img src="https://unsplash.it/600.jpg?image=250" class="img-fluid">
            </a>
          </div>
        </div>
        <div class="form-group ">
          <div class="text-center">
            <input type="submit" value="Select" class="btn btn-primary">
          </div>
        </div>
      </form>
    </div>

  </div>
</div>